
    <footer class="page-footer blue">
        <div class="row">
            <div class="col s12">
              <h5 class="white-text">MSI Cloud API DOCS <i class="fa fa-cloud"></i></h5>
              <p class="grey-text text-lighten-4">
                API REST Documentation for our MSI3 Cloud APP on
                the server side.<br>
                You can find the project on our github.
              </p>
            </div>
        </div>
        <div class="footer-copyright" style="padding:15px">
          © 2020 Copyright MSI3 (opensource)
        </div>
    </footer>