<nav>
    <div class="nav-wrapper blue">
        <ul class="left">
            <h5 style="margin-left: 20px;">Cloud API Docs <i class="fa fa-cloud"></i></h5>
          </ul>
      <ul id="nav-mobile" class="right">
          <li>
            <a href="http://github.com/ElSombrero2/cloudmsi_back.git">
                <i class="fab fa-github fa-2x"></i>
            </a>
          </li>
      </ul>
    </div>
</nav>