<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/framework/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="/public/fontawesome-free-5.12.0-web/css/all.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Cloud-MSI API DOCS</title>
</head>
<body ng-app="api-docs" ng-controller="docsCtrl">

    <%include headers.ejs%>
    <br><br>
    <div class="container">
        <h4>User <i class="fa fa-user"></i></h4>
        <div class="divider"></div><br>
        <ul class="collapsible">
            <li>
                <div class="collapsible-header">POST</div>
                <div class="collapsible-body">
                    <ng-methods data="data.user.post"></ng-methods>
                </div>
            </li>
            <li>
                <div class="collapsible-header">GET</div>
                <div class="collapsible-body">
                    <ng-methods data="data.user.get"></ng-methods>
                </div>
            </li>
            <li>
                <div class="collapsible-header">PUT</div>
                <div class="collapsible-body">
                    <ng-methods data="data.user.put"></ng-methods>
                </div>
            </li>
            <li>
                <div class="collapsible-header">DELETE</div>
                <div class="collapsible-body">
                    <ng-methods data="data.user.delete"></ng-methods>
                </div>
            </li>
        </ul>

        <!--------------------------------------------------------------------------------->

        <br>

        <h4>File <i class="fa fa-file"></i></h4>
        <div class="divider"></div><br>
        <ul class="collapsible">
            <li>
                <div class="collapsible-header">POST</div>
                <div class="collapsible-body">
                    <ng-methods data="data.file.post"></ng-methods>
                </div>
            </li>
            <li>
                <div class="collapsible-header">GET</div>
                <div class="collapsible-body">
                    <ng-methods data="data.file.get"></ng-methods>
                </div>
            </li>
            <li>
                <div class="collapsible-header">DELETE</div>
                <div class="collapsible-body">
                    <ng-methods data="data.file.delete"></ng-methods>
                </div>
            </li>
        </ul>
        
        <br>

        <h4>Project <i class="fa fa-plane"></i></h4>
        <div class="divider"></div><br>
        <ul class="collapsible">
            <li>
                <div class="collapsible-header">POST</div>
                <div class="collapsible-body">
                    <ng-methods data="data.project.post"></ng-methods>
                </div>
            </li>
            <li>
                <div class="collapsible-header">GET</div>
                <div class="collapsible-body">
                    <ng-methods data="data.project.get"></ng-methods>
                </div>
            </li>
            <li>
                <div class="collapsible-header">DELETE</div>
                <div class="collapsible-body">
                    <ng-methods data="data.project.delete"></ng-methods>
                </div>
            </li>
        </ul>
    </div>

    <div class="main container">
        <h4><i class="fa fa-book"></i> Information</h4>
        <div class="divider"></div>
        <br>
        <h5>Responses:</h5>
        <div class="divider"></div>
        <br>
        <div class="card blue-grey darken-4">
            <div class="card-content white-text">
                <div ng-repeat='tmp in data.response_obj'>
                    <span ng-bind="tmp.name"></span> : 
                    <span ng-bind="tmp.content" 
                          style="font-style: italic;" 
                          class="red-text"></span>
                </div>
            </div>
        </div> 
        <h5>Token:</h5>
        <div class="divider"></div>
        <br>
        <div class="card blue-grey darken-4">
            <div class="card-content white-text">
                <div id="token-info">

                    <span class="red-text">
                        headers
                    </span>.
                    <span class="yellow-text lighten-4">
                        payload
                    </span>.
                    <span class="blue-text lighten-4">
                        signature_key
                    </span>

                    <br><br>

                   <strong>Example : </strong><br><br>

                    <span class="red-text">
                        eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9
                    </span>.
                    <span class="yellow-text lighten-4">
                        eyJ1c2VybmFtZSI6IlRlc3QiL
                        CJpZCI6OCwiZW1haWwiO
                        iJuaXJpbGFsYTE1QGdtYWlsLmNv
                        bSIsImlhdCI6MTU5NDkwNDA5
                        NywiZXhwIjoxNTk3NTgyNDk3fQ
                    </span>.
                    <span class="blue-text lighten-4">
                        YkDPYHQ_jfI9_hYspw
                        RhAG2GQW0q1hwl3slSw
                        GVQlpE
                    </span>
                </div>
                <br>
                <div>
                    <strong class="red-text lighten-4">Headers : </strong>
                    Contains the type and the encryption algorithm.
                </div>
                <div>
                    <strong class="yellow-text lighten-4">Payload : </strong>
                    Contains user's data like id or username
                </div>
                <div>
                    <strong class="blue-text lighten-4">Key : </strong>
                    Signature of the token.
                </div>
            </div>
        </div> 
    </div>

    <%include footers.ejs%>

    <script src="/public/framework/jquery-3.4.1.min.js"></script>
    <script src="/public/framework/angular.min.js"></script>
    <script src="/public/fontawesome-free-5.12.0-web/js/all.min.js"></script>
    <script src="/public/framework/materialize/js/materialize.min.js"></script>
    <script src="/public/js/script.js"></script>
    <script src="/public/js/main.js"></script>
    <script src="/public/js/methods.js"></script>
</body>
</html>