<ul class="collapsible request">
    <li ng-repeat="item in data">
      <div class="collapsible-header">
        <strong>
            <i class="fa fa-angle-right"></i>
            Route : <span class="red-text">{{item.route}}</span>
        </strong>
      </div>
      <div class="collapsible-body">
        <ul>
            <li>
                <strong>Description : </strong>{{item.description}}
            </li>
            <li>
                <strong>Format : </strong>{{item.format}}
                <br><br>
                <div class="divider"></div>
                <br>
            </li>
            <li>
                <strong>
                    Params : 
                </strong><br>
                <div class="card blue-grey darken-4">
                    <div class="card-content white-text">
                        <div ng-repeat='tmp in item.params'>
                            <strong>{{tmp.name}}</strong> : 
                            <span style="font-style: italic;" class="yellow-text">
                                {{tmp.content}}
                            </span> 
                        </div>
                    </div>
                </div> 
            </li>
            <li>
                <strong>
                    Headers : 
                </strong><br>
                <div class="card blue-grey darken-4">
                    <div class="card-content white-text">
                        <div ng-repeat='tmp in item.headers'>
                            <strong>{{tmp.name}}</strong> : 
                            <span style="font-style: italic;" class="red-text">
                                {{tmp.content}}
                            </span> 
                        </div>
                    </div>
                </div> 
            </li>
            <li>
                <strong>Query : </strong><br>
                <div class="card blue-grey darken-4">
                    <div class="card-content white-text">
                        <div ng-repeat='tmp in item.query'>
                            <strong>{{tmp.name}}</strong> : 
                            <span style="font-style: italic;" class="green-text">
                                {{tmp.content}}
                            </span> 
                        </div>
                    </div>
                </div> 
            </li>
            <li>
                <strong>Body : </strong><br>
                <div class="card blue-grey darken-4">
                    <div class="card-content white-text">
                        <div ng-repeat='tmp in item.body'>
                            <strong>{{tmp.name}}</strong> : 
                            <span style="font-style: italic;" class="blue-text">
                                {{tmp.content}}
                            </span> 
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <strong>Response : </strong><br>
                <div class="card blue-grey darken-4">
                    <div class="card-content white-text">
                        <div ng-repeat='tmp in item.response'>
                            <strong>{{tmp.name}}</strong> : 
                            <span style="font-style: italic;" class="orange-text">
                                {{tmp.content}}
                            </span> 
                        </div>
                    </div>
                </div>
            </li>
        </ul>
      </div>
    </li>
</ul>
<br>